@import url("https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&family=Lilita+One&family=Rampart+One&family=Tenali+Ramakrishna&display=swap");

body {
  box-sizing: border-box;
  background-color: darkcyan;
  background: url(../images/EELS\ bg.gif) no-repeat center center fixed;
  background-size: cover !important;
  color: black;
  margin: 0px;
  padding: 0px;
  height: 100vh !important;
}
header {
  width: 100%;
}
.logo {
  background-color: transparent;
  perspective: 1000px;
}
.logo img {
  height: 80px;
  width: 80px;
  padding: 5px 0 0 5px;
  image-resolution: 100%;
}
h1 {
  text-align: center !important;
  font-size: 70px !important;
  padding-top: 100px !important;
  font-family: "Inter Tight", sans-serif !important;
  font-optical-sizing: auto !important;
  font-weight: 900 !important;
  font-style: normal !important;
}
p {
  padding: 0px 100px 25px 100px;
  text-align: center;
  font-family: "Tenali Ramakrishna", sans-serif;
  font-weight: 400px;
  font-style: normal;
  font-size: 25px;
  margin-bottom: 0px;
}

.btn-primary {
  background-color: darkcyan !important;
  border: 1px solid darkcyan !important;
}

.btn-primary:hover {
  background-color: rgb(2, 151, 151) !important;
}

footer {
  text-align: center;
  padding: 15px 50px;
  background-color: transparent;
}
ul {
  list-style-type: none;
}
li {
  float: left;
  margin: 0 150px 0 150px;
}

.container-fluid {
  background-color: rgba(244, 244, 244, 0.798);
  border-radius: 20px;
  backdrop-filter: blur(8px);
}

.title {
  font-family: "Lilita One", sans-serif !important;
  font-weight: 300 !important;
  font-style: normal !important;
}

.lead {
  font-size: 15pt !important;
}

.home {
  padding: 8px !important;
  margin-left: -100px !important;
  font-size: 20px !important;
}

.about {
  padding: 8px !important;
  margin-left: -300px !important;
  font-size: 20px !important;
}
